[user]
        name = Alexey Lebedeff
	email = alebedev@mirantis.com

[color]
        ui = auto

[url "git@github.com:binarin/"]
     insteadOf = gh:
     pushInsteadOf = gh:

[url "ssh://binarin@review.fuel-infra.org:29418/"]
     insteadOf = fi:
     pushInsteadOf = fi:

[core]
	autocrlf = false

[alias]
	gfetch = fetch origin '+refs/changes/*:refs/remotes/origin/changes/*'

[push]
	default = simple

[commit]
	template = /home/binarin/.rc/.git-commit-template.txt

[diff]
        compactionHeuristic = true

[pager]
	log = diff-so-fancy | less
	show = diff-so-fancy | less
	diff = diff-so-fancy | less

[interactive]
        diffFilter = diff-so-fancy
