URxvt.termName: rxvt-unicode-256color
URxvt.font: -xos4-terminus-bold-r-*-*-22-*-*-*-*-*-iso10646-*
URxvt.boldFont:
URxvt.italicFont:
URxvt.boldItalicFont:

URxvt.foreground: grey
URxvt.background: black

URxvt.colorUL: #86a2be
URxvt.colorIT: red
URxvt.underlineColor: orange
URxvt.highlightColor: magenta
URxvt.highlightTextColor: cyan
URxvt.fading: 30
URxvt.fadeColor: black
URxvt.reverseVideo: false
URxvt.pointerColor: red
URxvt.pointerColor2: cyan
URxvt.color12: #5555FF

URxvt.urgentOnBell: true
URxvt.visualBell: true
URxvt.scrollBar: false

URxvt.perl-ext: filter_title
URxvt.perl-ext-common: default,matcher,font-size,selection-to-clipboard
URxvt.url-launcher: xdg-open

URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
